

.container{
   
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  

}

form{
    background-color: #964ada;
    padding: 50px 100px;
    border-radius: 10px;
    margin-top: 20px;
}

.allNotes{
    margin-top: 40px;
}




.allNotes {
    display: flex;
    justify-content: center;
    align-items: center;

 
    
  }
  
  .notes-list {

    width: 80%;
    max-width: 800px;
    height: 100%;
    margin-top: 50px;
    padding: 20px;
  }
  
  .notes-list .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    border-radius: 20px;
    background-color: rgb(100, 128, 173);
  
  }
  
  .notes-list .list-group-item + .list-group-item {
    margin-top: 20px;
  }
  
  .notes-list .list-group-item .card {
    display: flex;
    flex-direction: row;
   justify-content: space-between;
  

    width: 100%;
    background-color: rgb(122, 240, 255);
    overflow: hidden;
  
  }
  .notes-list .list-group-item .card-body{
  
  }
  
  .notes-list .list-group-item .card-title {
    font-size: 34px;
    font-weight: 500;
    font-style: oblique ;
    margin-bottom: 10px;
  }
  
  .notes-list .list-group-item .card-text {
    font-size: 20px;
    font-weight: 400;
    color: #000000;
  }
  
  .notes-list .list-group-item .btn {
    font-size: 16px;
    padding: 5px 10px;
  }


 