*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.register{
 
  display: flex;
  background-color: rgb(178, 96, 255);
 margin-top: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
form{
  margin-bottom: 30px;
}